<!DOCTYPE html>
{% extends 'base.html'%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% block contenido %}

  <figure class="text-center">
    <blockquote class="blockquote">
      <p>HOLA SOY ANGEL RICARDO MARTINEZ GONZALEZ</p>
      <p>ESTOS SON MIS DATOS PERSONALES</p>
    </blockquote>
    <figcaption class="blockquote-footer">
     </cite>
    </figcaption>
  </figure>
  <ul class="list-unstyled">
    <li>Soy estudiante del instituto tecnologico superior progreso.</li>
    <li>DATOS:
      <ul>
        <li>EDAD: 20 años</li>
        <li>ESTATURA: 1.55</li>
        <li>SOY DEL ESTADO DE VERACRUZ</li>
        <li>GENERO:MASCULINO</li>
      </ul>
    </li>
    <li>ESO ES TODO MASTER, TAMPOCO TE ME SORPRENDAS.</li>
  </ul>
  {% endblock %}
</body>
</html>